<div class="flex-grow h-screen relative p-8 md:order-last">
  <%= render GoldfishWeb.SharedView, "messages-container.html", assigns %>
  <%= render GoldfishWeb.SharedView, "messagebox.html", assigns %>
</div>
