Recent Messages:
<ul>
  <%= for message <- @recent_messages do %>
    <li><%= message.body %></li>
  <% end %>
</ul>


<div class="chat container">
  <div id="messages" class="messages">
    <%= for message <- @messages do %>
      <%= render GoldfishWeb.SharedView, "message.html", message: message %>
    <% end %>
  </div>
  <div class="messagebox">
    <div id="chat-input" class="input" contenteditable="true" role="textbox" aria-multiline="true">
    </div>
  </div>
</div>
