<div class="flex-none rounded border bg-white p-4 messagebox">
  <div id="chat-input" class="input focus:outline-none" placeholder="Type Something Here..." contenteditable="true" role="textbox" aria-multiline="true">
  </div>
</div>
