<div id="messages-container" class="h-full pb-16">
  <div id="spacer"></div>
  <div id="messages" class="">
    <%= for message <- Enum.reverse(@messages) do %>
      <%= render GoldfishWeb.MessageView, "show.html", message: message %>
    <% end %>
  </div>
</div>
