<textarea id="chat-input"
          rows="1"
          class="focus:outline-none focus:ring-1 focus:ring-pink-200 flex-none rounded border bg-white p-4 messagebox"
          placeholder="Type Something Here..." >
</textarea>
