<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Evan Dancer</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#fd5c63">
    <meta name="theme-color" content="#ffffff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <%= if Mix.env == :prod do %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110926713-1"></script>
      <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'UA-110926713-1');
      </script>
    <% end %>

    <script>window.roomId = "<%= assigns[:room_id] %>";</script>
    <script>window.userToken = "<%= Guardian.Plug.current_token(@conn) %>";</script>
  </head>

  <body class="<%= if @conn.assigns[:current_user] do %>header<% end %>" >
    <%= if @conn.assigns[:current_user] do %>
      <%= render GoldfishWeb.SharedView, "header.html", assigns %>
    <% end %>

    <main role="main">
      <div class="ui home container">
        <%= render GoldfishWeb.SharedView, "sidebar.html", assigns %>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
