<div class="message <%= if bot(@message) do %>bot<% end %>">
  <img class="avatar" src="/images/prof.jpg" />

  <div class="container">
    <div class="body">
      <%= @message.body %>
    </div>
    <div class="time">
      <%#= relative_time(@message.inserted_at) %>
      12:22 PM
    </div>
  </div>
</div>
