<div class="message <%= if bot(@message) do %>bot<% end %>">
  <img class="avatar" src="/images/prof.jpg" />

  <div class="container">
    <div class="body">
      <%= @message.body %>
    </div>
    <div class="time">
      <%= @message.inserted_at %>
    </div>
  </div>
</div>
