@import 'variables';

* {
  box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;

  font-size: 16px;
  margin: 0 !important;
  padding: 0 !important;
  font-family: $sans-serif;
  font-weight: 300;
  color: $dark-gray;
}

a {
  text-decoration: none;
}

/* Text styles */
h1,h2,h3,h4,h5,h6 {
  font-family: $serif;
  font-weight: normal;
  margin: 2em 0 0;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: 0.5em;
  color: $dark-gray;
}

strong {
  font-weight: bold;
}

blockquote {
  &:before {
    background: red;
    height: 100%;
    width: 2px;
  }
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

label {
  display: block;
  font-size: .85em;
  margin-bottom: .2em;
}

input, textarea {
  border-radius: 5px;
  border: solid 1px $light-gray;
  padding: 0.6em 1em;
  margin-bottom: 1em;
  outline: none;
}

button {
  background: $white;
  color: $dark-gray;
  border-radius: 5px;
  border: solid 1px $light-gray;
  padding: 0.6em 1em;
  cursor: pointer;
}

// Containers
.ui.container {
  padding: 0 2em;
  height: 100%;
  width: 100%;
  max-width: 65em;
  margin: auto;
}

.chat.container {
  height: 100vh;
  flex: 1 1 auto;
  position: relative;
  padding-bottom: $messagebox-margin;
}
.messages-container {
  padding: 1em;
  height: calc(100% - #{$messagebox-height});
  overflow-y: auto;
}

// Rules if the user is logged in
body.header {
  .chat.container {
    height: calc(100vh - #{$header-height});
  }
}
