/* Layouts */
$large-phone: 425px;
$tablet: 768px;

// Header Variables
$header-height: 25px;

// Messagebox
$messagebox-height: 45px;
$messagebox-margin: 2em;

// Message
$message-border-radius: 10px;

/* Color palette */
$dark-gray: #484848;
$squash: #e9a820;
$lipstick: #e01563;
$greeny-blue: #3eb991;
$white: #ffffff;
$seafoam-blue: #6ecadc;
$light-gray: #edefed;
$primary: #fd5c63;
$secondary: #008489;

/* Font Families */
$serif: 'Bree Serif', serif;
$sans-serif: 'Open Sans', sans-serif;
