@import 'mixins';
@import 'variables';

$avatar-size: 53px;

.message {
  display: flex;
  flex-direction: row-reverse;

  .avatar {
    height: $avatar-size;
    width: $avatar-size;
    border-radius: 50%;
    border: solid 3px $light-gray;
    background: url('/images/user.jpg') no-repeat center center;
    @include image-2x('/images/user-2x.jpg', $avatar-size, $avatar-size);
    flex: 0 0 auto;

    @media screen and(max-width: $large-phone) {
      display: none;
    }
  }

  .container {
    @media screen and(min-width: $large-phone + 1) {
      margin: 0 16px 30px;
    }
  }

  .body {
    border-radius: $message-border-radius;
    border: solid 1px rgba($secondary, .5);

    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-gray;
    padding: 15px;
    display: inline-block;
    border-top-right-radius: 0;
  }

  .time {
    font-size: 10px;
    text-align: left;
    color: $dark-gray;
    margin: 5px 15px;
  }
}


.bot.message {
  flex-direction: row;

  .body {
    border: solid 1px rgba($primary, .5);
    border-top-right-radius: $message-border-radius;
    border-bottom-left-radius: 0;
  }

  .avatar {
    background-image: url('/images/avatar.jpg');
    background: url('/images/bot.jpg') no-repeat center center;
    @include image-2x('/images/bot-2x.jpg', $avatar-size, $avatar-size);
  }
}
