.message {
  display: inline-block;
  max-width: 80%;
  padding: .5em 1em;
  border-radius: 1em;
  border-top-left-radius: 0;
  box-shadow: 1px 1px 5px #f1f1f1;
  background: #fff;
  margin: .4em 0;

  .time {
    font-size: .8em;
    opacity: .8;
    margin-top: .4em;
  }

  &.bot {
    float: right;
    background: #9cc4c1;
    color: #fff;
    border-top-left-radius: 1em;
    border-top-right-radius: 0;
  }
}
