.messagebox {
  position: absolute;
  bottom: $messagebox-margin;
  padding: 0.6em 1em;
  width: 100%;
  background: white;
  max-height: 150px;
  overflow-y: auto;

  border-radius: 5px;
  border: solid 1px $light-gray;

  min-height: $messagebox-height;

  cursor: text;

  .input:focus {
    outline: none;
  }
}
