@import 'variables';

.post-link {
  &::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border: solid 1px $primary;
    border-radius: 50%;
    margin: 0 4px 3px 0;
  }
}

.post-link:nth-child(even) {
  &::before {
    border-color: $secondary;
  }
}
