@import 'variables';

.toc {
  width: 300px;
  height: calc(100vh - #{$header-height});
  overflow: auto;
}

.message-link {
  border: solid 1px $light-gray;
  border-bottom: none;
  padding: .4em;
}
