<h2>Recent Posts</h2>

<table class="table">
  <tbody>
<%= for page <- @pages do %>
    <tr>
      <td><%= link(page.title, to: page_path(@conn, :show, page.slug)) %></td>
    </tr>
<% end %>
  </tbody>
</table>
