<p>Evan Dancer</p>
<p>Software Engineer</p>

<a href="https://github.com/edance/" target="_blank">Github</a>
<a href="https://www.linkedin.com/in/evan-dancer" target="_blank">LinkedIn</a>
<a href="https://www.facebook.com/edancer" target="_blank">Facebook</a>
<a href="https://twitter.com/mmmmpizzza" target="_blank">Twitter</a>
<a href="https://medium.com/@edance" target="_blank">Medium</a>
