<div class="page show">
  <h1><%= @page.title %></h1>
  <p>Views: <%= @page.views %> </p>
  <div class="content">
    <%= raw(markdown(@page.body)) %>
  </div>

  <%= if @conn.assigns[:current_user] do %>
    <%= link "Edit", to: admin_page_path(@conn, :edit, @page) %>
  <% end %>
</div>
